@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}

#autor{
    display: inline-block;
    margin-left: 30px;
}

button{
    padding: 0.8rem;
    border-radius: 15px;
    border: 0px;
    background-color: lightgray;
    color:black;
}

button:hover {
    cursor:pointer;
    background-color: black;
    color:lightgray; 
}

blockquote{
    margin-top: 10vh;
    margin-bottom: 10vh;
}

